#
#Thu Jul 24 00:05:39 ICT 2025
DOC=doc
ENTITY_PKG=org.demo.bean
ProjectVariable.MAVEN_ARTIFACT_ID=PCBuilder
ProjectVariable.MAVEN_GROUP_ID=group.to.be.defined
ProjectVariable.PROJECT_NAME=PCBuilder
ProjectVariable.PROJECT_VERSION=0.1
ProjectVariable.REST_API_ROOT=/api/v1
ProjectVariable.REST_SERVER_PORT=3000
ProjectVariable.REST_URL_ROOT=http\://localhost\:3000
RES=src/main/resources
ROOT_PKG=org.demo
SRC=src/main/java
SpecificDestinationFolder=
SpecificTemplatesFolder=
TEST_RES=src/test/resources
TEST_SRC=src/test/java
TMP=tmp
WEB=src/main/webapp

